@media print {
    body {
        font-family: serif;
    }

    #about, #resume, #contact {
        margin: 0px 0px 0px 0px;
        text-align: left;
    }

    #contact {
        display: none;
    }

    #sidebar {
        display: none;
    }

    #content {
        width: 100%;
        flex: 1;
    }

    img {
        display: block;
        align-self: left;
    }

    p {
        text-align: left;
        margin: 0;
    }

    section {
        page-break-inside: avoid;
        text-align: left;
    }
}
