@media print {
    body {
        font-family: serif;
    }

    #sidebar, #home {
        display: none;
    }

    #content {
        width: 100%;
        flex: 1;
    }

    #contact {
        display: none
    }

    img {
        display: block;
        align-self: left;
    }

    p {
        text-align: left;
        margin: 0;
    }

    section {
        /* page-break-inside: avoid; */
        text-align: left;
    }

    #about, #resume, #facts, #skills {
        page-break-inside: avoid;
    }
}
