    /* Sidebar Styles */
    #sidebar {
        min-width: fit-content;
        height: device-height;
        background-color: #040B14;
        color: #fff;
        padding: 20px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        font-family: "Raleway", sans-serif;
        text-align: center;
        z-index: 1;
    }

    #sidebar ul {
        text-align: left;
        list-style-type: none;
        line-height: 50px;
    }

    #sidebar a {
        text-decoration: none;
        color: #a8a9b4;
        transition: color 0.5s ease;
        cursor: pointer;
    }

    #sidebar a:hover {
        color: #37B3ED;
    }

    #sidebar #profile-pic {
        width: 100px;
        height: 100px;
        border: 8px solid #2C2F3F;
        border-radius: 50%;
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #socials-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }
    .social-item a img {
        width: 15px;
        padding: 7px;
        border-radius: 20px;
        background-color: #212431;
        transition: background-color 0.5s ease;
        cursor: pointer;
    }

    .social-item a img:hover {
        background-color: #149DDD;
    }

    /* Home Styles */
    #home {
        display: flex;
        justify-content: center;
        padding: 300px 0;
        margin: 0px 0px 0px 0px;
        line-height: 0px;
        background-image: url("assets/background.png");
        color: white;
    }

    #home h1 {
        font-family: "Raleway", sans-serif;
        font-size: 44px;
        font-weight: 900;
    }

    #home p {
        font-family: "Poppins", sans-serif;
        font-size: 28px;
        line-height: 0px;
    }

    

    /* About Styles */

    #about-image { grid-area: about-image }
    #about-text { grid-area: about-text }
    #facts { grid-area: facts }
    #skills { grid-area: skills }
    #about-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 'about-image about-text' 'facts facts' 'skills skills'
    }

    #about, #resume, #contact, #lab11 {
        margin: 20px 150px 0px 20px;
        display: block;
        text-wrap: wrap;
    }

    #about-text {
        line-height: 30px;
        text-wrap: wrap;
        margin: 0px 0px 0px 20px;
    }

    #bullet-wrapper {
        display: flex;
    }

    #bullet-1 ul,
    #bullet-2 ul {
        list-style-type: "> ";
        font-size: 20px;
    }

    #about p {
        font-size: 20px;
        text-wrap: wrap;
    }

    #about img {
        width: 400px;
        height: 400px;
    }

    #facts p {
        font-size: 20px;
    }

    #clients { 
        grid-area: clients;
        display: flex;
        flex-direction: column;
    }
    #projects { 
        grid-area: projects; 
        display: flex;
        flex-direction: column;
    }
    #hours { 
        grid-area: hours; 
        display: flex;
        flex-direction: column; 
    }
    #workers { 
        grid-area: workers; 
        display: flex;
        flex-direction: column; 
    }

    #stats {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-areas: 'clients projects hours workers';
    }

    .stats-image { 
        display: flex;
        grid-area: stats-image;
        justify-content: right;
    }

    .stats-text { 
        grid-area: stats-text;
        font-family: 'Open Sans' sans-serif;
    }
    
    .stats-text h1 {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
    }

    .stats-text p {
        margin: 0;
        font-size: 10px;
    }

    .stats-item-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 'stats-image stats-text';
        column-gap: 20px;
        row-gap: 0px;
        max-width: 70%;
    }

    .name{ 
        grid-area: name;
        text-align: left;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        color: #050d18;
        font-weight: 600;
    }
    .val{ 
        grid-area: val;
        text-align: right;
    }
    .bar{ grid-area: bar }

    .name-skill, .val {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }


    .skill-item {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'name val' 'bar bar';
        row-gap: 8px;
    }
    #htm{ grid-area: html }
    #cs{ grid-area: css }
    #js{ grid-area: js }
    #python{ grid-area: python }
    #cpp { grid-area: cpp } 
    #blank { grid-area: blank }
    
    #skills-wrapper{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 'html python' 'css cpp' 'js blank';
        column-gap: 40px;
        row-gap: 40px;
    }

    /* Resume Styles */
    #resume-wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'summary experience' 'education experience';
    }

    .vertical-bar > svg > * {
        stroke:#1F5297;
        fill:#1F5297;
    }
    
    .vertical-bar > svg > circle {
        stroke-width: 2;
        fill: none;
    }

    #summary-text{grid-area:summary-text}
    #experience-text{grid-area:experience-text}
    #education-text{grid-area:education-text}

    #summary { 
        grid-area: summary;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 'vertbar summary-text';
        column-gap: 15px;
    }
    #experience { 
        grid-area: experience;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 'vertbar experience-text';
        column-gap: 15px;
        justify-content: left;
    }
    #education { 
        grid-area: education;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 'vertbar education-text';
        column-gap: 15px;
    }

    #summary ul {
        line-height: 40px;
    }
    
    #experience-text li {
        margin-bottom: 20px;
    }

    /* Contact Styles */
    #contact-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 'info form';
    }

    #contact-wrapper > section > fieldset {
        min-width: 50%;
    }

    #send-message {
        display: flex;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #send-message-button {
        color: white;
        background-color: #149DDD;
        border: 0;
        width: 20%;
        height: 30px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        border-radius: 5px;
        transition: background-color 0.5s ease;
        min-width: fit-content;
    }

    #send-message-button:hover {
        background-color: #37B3ED;
    }

    textarea {
        width: 100%;
        height: 250px;
        border: 1px solid #ccc;
    }

    input {
        height: 40px;
        width: 100%;
        border: 1px solid #ccc;
    }

    #contact-info { grid-area: info }
    #contact-form { grid-area: form }
    #name { grid-area: name }
    #email { grid-area: email }
    #subject { grid-area: subject }
    #message { grid-area: message }

    #contact-form-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 'name email' 'subject subject' 'message message';
        gap: 20px;
        height: auto;
    }
    
    #contact-wrapper > section > fieldset {
        border: 2px solid #E4EDF9;
    }

    #contact-info {
        line-height: 5px;
    }

    /* Other Styles */
    body {
        margin: 0;
        font-family: "Open Sans", sans-serif;
        margin-left: 10px;
    }

    h2 {
        font-size: 35px;
        color: navy;
        margin-bottom: 0;
    }

    #content h3 {
        font-size: 25px;
        color: navy;
        margin-bottom: 0;
    }

    #content h4 {
        font-size: 20px;
    }

    .time-frame > fieldset {
        width: fit-content;
        border-radius: 10px 10px 10px 10px;
        justify-content: center;
        text-align: center;
        border: 0px;
        background-color: #E4EDF9;
        font-family: 'Raleway', sans-serif;
    }

    #sidebar{ grid-area: sidebar }
    #content{ grid-area: content }
    #wrapper {
        display: grid;
        grid-template-columns: 202.1px auto;
        grid-template-areas: 'sidebar content';
    }

    .decorative-bar {
        height: 3px;
        background-color: #119dcc;
        width: 5%;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .bar {
        display: flex;
        align-items: center;
    }

    #lab11 > math {
        font-size: 50px;
    }

    #lab11-wrapper {
        display: flex;
        flex-wrap: row;
        column-gap: 40px;
    }

    #lab11-wrapper > section {
        border: solid #ccc 1px
    }
