@media print {
    body {
        font-family: serif;
    }

    #sidebar, #home, #lab11, #about, #facts, #skills, #contact, #print {
        display: none;
    }

    #content {
        width: 100%;
        flex: 1;
    }

    #resume {
        page-break-inside: avoid;
    }

    #resume-wrapper {
        grid-template-columns: 100%;
        grid-template-areas: 'summary' 'education' 'experience';
        
    }
    
    #resume-wrapper > section {
        width: 100%;
        
    }

    #wrapper {
        grid-template-columns: 100%;
        grid-template-areas: 'content content';
    }
}
